python-dotenv
google-cloud-aiplatform
google-generativeai
groq
tavily-python
langchain

streamlit
pandas
numpy
groq
langchain_community
langchain_groq
yfinance
plotly
langchain_core
nbformat>=4.2.0
ipython
kaleido

#huggingface libraries
transformers 
datasets 
evaluate 
accelerate
torch
tensorflow
tf-keras

langchain-openai

ipykernel
matplotlib
tqdm


crewai
crewai_tools
youtube-transcript-api
yt_dlp==2023.11.14 
youtube-transcript-api==0.6.1

langchain_google_genai
beautifulsoup4
unstructured
sec-api

langchain_community==0.2.10
langchain-cli

## groq-moa

##  langchain>=0.2.5
langchain_groq>=0.1.5
##  streamlit>=1.36.0
watchdog>=4.0.1
##  python-dotenv>=1.0.1
streamlit-ace>=0.1.1
streamlit-ace

nltk

tomllib


